<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
</head>
<body>

<h1>Welcome to Tic Tac Toe</h1>

<h3>Please choose your game:</h3>

<form method="post" action="/ttt-game">
    <input type="text" id="humanVhuman" name="gameType"/>
    <!--<input type="radio" id="humanVhuman" value="humanVhuman" name="hvh">Human v Human<br>-->
    <!--<input type="radio" id="humanVcomputer" value="humanVcomputer" name="hvc">Human v Computer<br>-->
    <!--<input type="radio" id="computerVhuman" value="computerVhuman" name="cvh">Computer v Human<br>-->
    <!--<input type="radio" id="computerVcomputer" value="computerVcomputer" name="cvc">Computer v Computer<br>-->
    <input type="submit">
</form>

</body>
</html>