<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicTacToe</title>
</head>
<body>

<h1>Welcome to Tic Tac Toe</h1>

<h3>Please choose your game:</h3>

<form method="get" action="/ttt-game">
    <button type="submit" id="hvh" name="gameType" value="hvh"></button>
    <button type="submit" id="hvc" name="gameType" value="hvc"></button>
    <button type="submit" id="cvh" name="gameType" value="cvh"></button>
    <button type="submit" id="cvc" name="gameType" value="cvc"></button>
</form>

</body>
</html>